<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}"> 
    <title>Chivas</title>
    <script>
        function confirmDelete() {
            return confirm('¿Seguro que deseas eliminar la chiva?');
        }
    </script>
</head>
<body>
    {% include 'navbarAdmin.html '%}

    <div class="container text-center" style="margin-top: 30px;">
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>

                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <h1>{% if actualizacion %}Actualizar Chiva{% else %}Registrar Chiva{% endif %}</h1>
                <form class="row g-3" method="POST" style="margin-top: 30px;" action="{% if actualizacion %}{% url 'actualizarFormChiva' actualizacion.id %}{% else %}{% url 'chivas' %}{% endif %}">
                    {% csrf_token %}
                    <input type="hidden", name="id", value="{{ actualizacion.id|default_if_none:0}}">

                    <div class="col-md-6">
                        <input required name="placa" type="text" placeholder="Placa" value="{% if actualizacion %}{{ actualizacion.placa|default_if_none:'' }}{% elif chivaPlaca %}{{ chivaPlaca }}{% endif %}" class="form-control" id="inputPlaca">
                    </div>
                    
                    <div class="col-md-6">
                        <input required name="capacidad" type="number" placeholder="Capacidad" value="{% if actualizacion %}{{ actualizacion.capacidad|default_if_none:'' }}{% elif chivaCapacidad %}{{ chivaCapacidad }}{% endif %}" class="form-control {% if actualizacion %}bg-light text-secondary{% endif %}" id="inputCapacidad" {% if actualizacion %}readonly{% endif %}>
                    </div>
                    
                    <div class="col-md-6">
                        <select required name="tipo" id="inputTipo" class="form-select"  {% if actualizacion %}disabled{% endif %}>
                            <option disabled {% if not actualizacion %}selected{% endif %}>Tipo...</option>
                            <option value="Normal" {% if chivaTipo and chivaTipo == 'Normal'%}selected{% elif actualizacion and actualizacion.tipo == 'Normal' %}selected{% endif %}>Normal</option>
                            <option value="Rumbera" {% if chivaTipo and chivaTipo == 'Rumbera'%}selected{% elif actualizacion and actualizacion.tipo == 'Rumbera' %}selected{% endif %}>Rumbera</option>
                        </select>
                        {% if chivaTipo %}
                            <input type="hidden" name="tipo" value="{{ chivaTipo }}">
                        {% elif actualizacion %}
                            <input type="hidden" name="tipo" value="{{ actualizacion.tipo }}">
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <select required name="estado" id="inputEstado" class="form-select"  {% if paseoChiva %}disabled{% endif %}>
                            <option disabled {% if not actualizacion %}selected{% endif %}>Estado...</option>
                            <option value="Disponible" {% if chivaEstado and chivaEstado == 'Disponible'%}selected{% elif actualizacion and actualizacion.estado == 'Disponible' %}selected{% endif %}>Disponible</option>
                            <option value="No Disponible" {% if chivaEstado and chivaEstado == 'No Disponible'%}selected{% elif actualizacion and actualizacion.estado == 'No Disponible' %}selected{% endif %}>No Disponible</option>
                        </select>
                        {% if chivaEstado %}
                            <input type="hidden" name="estado" value="{{ chivaEstado }}">
                        {% elif paseoChiva %}
                            <input type="hidden" name="estado" value="{{ actualizacion.estado }}">
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <input type="submit" class="btn btn-success " value="{% if actualizacion %}Actualizar Chiva{% else %}Registrar{% endif %}">
                    </div>
                </form>
            </div>
            <!-- <script>
                const form = document.querySelector('form');
                form.addEventListener('submit', function(event) {
                    const selectedOption = document.querySelector('#inputEstado option:checked');
                    const selectedTipo = document.querySelector('#inputTipo option:checked');
                    if (selectedOption.value === 'Estado...' || selectedTipo.value === 'Tipo...') {
                        event.preventDefault();
                        alert('Por favor, seleccione un estado y un tipo válidos.');
                    }
                });
            </script> -->
           <div class="col">
                <h1>Chivas</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Placa</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Operación</th>

                    </tr>
                    </thead>
                    <tbody>
                        {% for chiva in pag_obj %}
                            <tr>
                                <td>{{ chiva.placa }}</td>
                                <td>{{ chiva.capacidad }}</td>
                                <td>{{ chiva.tipo }}</td>
                                <td>{{ chiva.estado }}</td>
                                <td>
                                    <a type="button" class="btn btn-primary" href="{% url 'actualizarFormChiva' chiva.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                                        </svg>
                                    </a>

                                    <a type="button" class="btn btn-outline-danger" href="{% url 'eliminarChiva' chiva.id %} " onclick="return confirmDelete();">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center custom-cursor">
                        {% if pag_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?lista={{ lista }}&page={{ pag_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for num in pag_obj.paginator.page_range %}
                            {% if pag_obj.number == num %}
                                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% elif num > pag_obj.number|add:'-3' and num < pag_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?lista={{ lista }}&page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if pag_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?lista={{ lista }}&page={{ pag_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
      </div>
</body>
</html>