<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Reserva</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link href="{% static '/stylesApp.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}">
    <style>
        .container {
            margin-bottom: 50px;
        }
        .card {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    {% include 'navbarCliente.html' %}

    <div class="container mt-5 mb-5">
        <h1>Crea tu reserva</h1>
        
        <h2>¿Ya tienes reservas creadas? <a href="{% url 'consultarReserva' %}">Gestiona aquí tu reserva</a></h2>

        <h1>Selecciona el paseo</h1>
        
        <div class="btn-group mb-3" role="group">
            <a href="{% url 'crearReserva' %}?tipo_chiva=rumbera" class="btn btn-primary">Chiva Rumbera</a>
            <a href="{% url 'crearReserva' %}?tipo_chiva=normal" class="btn btn-primary">Chiva Normal</a>
        </div>

        {% if no_paseos_rumbera %}
            <div class="alert alert-danger" role="alert">
                No hay paseos disponibles para Chiva Rumbera en este momento.
            </div>
        {% endif %}

        {% if no_paseos_normal %}
            <div class="alert alert-danger" role="alert">
                No hay paseos disponibles para Chiva Normal en este momento.
            </div>
        {% endif %}

        {% if paseos_rumbera %}
        <div>
            <h2>Chiva Rumbera</h2>
            <div class="row">
                {% for paseo in paseos_rumbera %}
                    <div class="col-md-4">
                        <a href="{% url 'reservarPaseo' paseo.id %}" style="text-decoration: none;">
                            <div class="card" style="max-width: 402px; max-height: 515px;">
                                <div id="{{ paseo.id }}" class="card-img-top">
                                    <div id="carousel{{ paseo.id }}" class="carousel slide" style="display: none;">
                                        <div class="carousel-inner" id="inner{{ paseo.id }}">
                                          
                                        </div>
                                        <button id="button1{{ paseo.id }}" class="carousel-control-prev" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button id="button2{{ paseo.id }}" class="carousel-control-next" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <script>
                                        document.addEventListener('DOMContentLoaded', (event) => {
                                            var imgString = "{{ paseo.imagen }}";
                                            var imgParts = imgString.split('-');
                                            if(imgParts.length > 2){
                                                imgParts.forEach((part, index) => {
                                                    if(part == '') return;
                                                    document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                    var divElement = document.createElement('div');
                                                    if(index == 0){
                                                        divElement.className = 'carousel-item active';
                                                    }else{
                                                        divElement.className = 'carousel-item';
                                                    }
                                                    var imgElement = document.createElement('img');
                                                    imgElement.src = 'data:image/jpeg;base64,' + part;
                                                    imgElement.style.width = '400px';
                                                    imgElement.style.height = '300px';
                                                    divElement.appendChild(imgElement);
                                                    document.getElementById('inner{{ paseo.id }}').appendChild(divElement);
                                                });
                                            } else {
                                                imgParts.forEach((part, index) => {
                                                    if(part == '') return;
                                                    document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                    var divElement = document.createElement('div');
                                                    if(index == 0){
                                                        divElement.className = 'carousel-item active';
                                                    }else{
                                                        divElement.className = 'carousel-item';
                                                    }
                                                    var imgElement = document.createElement('img');
                                                    imgElement.src = 'data:image/jpeg;base64,' + part;
                                                    imgElement.style.width = '400px';
                                                    imgElement.style.height = '300px';
                                                    divElement.appendChild(imgElement);
                                                    document.getElementById('inner{{ paseo.id }}').appendChild(divElement);
                                                    document.getElementById('button1{{ paseo.id }}').style.display = 'none';
                                                    document.getElementById('button2{{ paseo.id }}').style.display = 'none';
                                                });
                                            }
                                        });
                                    </script>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ paseo.origen }} - {{ paseo.destino }}</h5>
                                    <p class="card-text">Disponibilidad: {{ paseo.disponibilidad }}</p>
                                    <p class="card-text">Descripción: {{ paseo.descripcion }}</p>
                                    <p class="card-text">Fecha: {{ paseo.fecha }}</p>
                                    <p class="card-text">Hora: {{ paseo.hora }}</p>
                                    <p class="card-text">Valor: {{ paseo.esquemaCobro.valor }}</p>
                                    <hr><hr>
                                    <!--
                                    <a href="{% url 'reservarPaseo' paseo.id %}" class="btn btn-primary">Reservar</a>
                                    <hr><hr><hr><hr>
                                    -->
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if paseos_normal %}
        <div>
            <h2>Chiva Normal</h2>
            <div class="row">
                {% for paseo in paseos_normal %}
                    <div class="col-md-4">
                        <a href="{% url 'reservarPaseo' paseo.id %}" style="text-decoration: none;">
                            <div class="card" style="max-width: 402px; max-height: 515px;">
                                <div id="{{ paseo.id }}" class="card-img-top">
                                    <div id="carousel{{ paseo.id }}" class="carousel slide" style="display: none;">
                                        <div class="carousel-inner" id="inner{{ paseo.id }}">
                                          
                                        </div>
                                        <button id="button1{{ paseo.id }}" class="carousel-control-prev" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button id="button2{{ paseo.id }}" class="carousel-control-next" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>

                                    <script>
                                        document.addEventListener('DOMContentLoaded', (event) => {
                                            var imgString = "{{ paseo.imagen }}";
                                            var imgParts = imgString.split('-');
                                            if(imgParts.length > 2){
                                                imgParts.forEach((part, index) => {
                                                    if(part == '') return;
                                                    document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                    var divElement = document.createElement('div');
                                                    if(index == 0){
                                                        divElement.className = 'carousel-item active';
                                                    }else{
                                                        divElement.className = 'carousel-item';
                                                    }
                                                    var imgElement = document.createElement('img');
                                                    imgElement.src = 'data:image/jpeg;base64,' + part;
                                                    imgElement.style.width = '400px';
                                                    imgElement.style.height = '300px';
                                                    divElement.appendChild(imgElement);
                                                    document.getElementById('inner{{ paseo.id }}').appendChild(divElement);
                                                });
                                            } else {
                                                imgParts.forEach((part, index) => {
                                                    if(part == '') return;
                                                    document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                    var divElement = document.createElement('div');
                                                    if(index == 0){
                                                        divElement.className = 'carousel-item active';
                                                    }else{
                                                        divElement.className = 'carousel-item';
                                                    }
                                                    var imgElement = document.createElement('img');
                                                    imgElement.src = 'data:image/jpeg;base64,' + part;
                                                    imgElement.style.width = '400px';
                                                    imgElement.style.height = '300px';
                                                    divElement.appendChild(imgElement);
                                                    document.getElementById('inner{{ paseo.id }}').appendChild(divElement);
                                                    document.getElementById('button1{{ paseo.id }}').style.display = 'none';
                                                    document.getElementById('button2{{ paseo.id }}').style.display = 'none';
                                                });
                                            }
                                        });
                                    </script>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ paseo.origen }} - {{ paseo.destino }}</h5>
                                    <p class="card-text">Disponibilidad: {{ paseo.disponibilidad }}</p>
                                    <p class="card-text">Descripción: {{ paseo.descripcion }}</p>
                                    <p class="card-text">Fecha: {{ paseo.fecha }}</p>
                                    <p class="card-text">Hora: {{ paseo.hora }}</p>
                                    <p class="card-text">Valor: {{ paseo.esquemaCobro.valor }}</p>
                                    <hr><hr>
                                    <!--
                                    <a href="{% url 'reservarPaseo' paseo.id %}" class="btn btn-primary">Reservar</a>
                                    <hr><hr><hr><hr>
                                    -->
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if error_message %}
            <div class="alert alert-info" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
