<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <title>Desembolsos</title>
  <link rel="stylesheet" href="{% static '/styles.css' %}">
  <link href="{% static '/stylesApp.css' %}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}">  
</head>
<body>

    <!-- Barra de navegacion -->
    <header>
      {% include "navbarAdmin.html" %}
    </header>

    <!-- Titulo -->
    <br>
      <div class = 'row'>
      <div class = 'col' style="margin-left: 50px;">
          <img src="/static/images/imagen.gif" style="width: 30%;"> 
      </div>

      <div class = 'col' style="margin-right: 500px;">
        <p class="fs-2 fw-bold text-center">Desembolsos</p>
      </div> 
      </div>
    </br>

    <!-- Alertas -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'success' %} 
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    {% if listaDesembolsos %} 
    <!-- Tabla -->
    <div class = 'table-responsive' style="margin-right: 30px; margin-left: 30px;">
      {% csrf_token %}
        <table class="table table-bordered border-black table-hover" >

            <thead class="table-dark table-bordered border-light-subtle">
                <tr>
                    <th> Cliente </th>
                    <th> Cédula </th>
                    <th> Celular </th>
                    <th> Cuenta Bancaria </th>
                    <th> Entidad Bancaria </th>
                    <th> Monto (COP)</th>
                    <th> Comprobante de Pago </th>
                    <th> Motivo </th>
                    <th> Comprobante de Desembolso </th>
                    <th> Completado </th>
                </tr>
            </thead>

            <tbody>

              {% for desembolso in listaDesembolsos %}
                <tr>
                  <td> {{ desembolso.reserva.persona.nombre }} </td>
                  <td> {{ desembolso.reserva.persona.id}}  </td>
                  <td> {{ desembolso.reserva.persona.celular }} </td>
                  <td> {{ desembolso.reserva.persona.cuentaBancaria.numCuenta }} </td>
                  <td> {{ desembolso.reserva.persona.cuentaBancaria.entidadBancaria}} - {{ desembolso.reserva.persona.cuentaBancaria.tipoCuente }} </td>
                  <td> {{ desembolso.monto }} </td>
                  <td> 
                  <button class="Documents-btn" style="height: 80% ;" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="comprobantePago(this)" data-python-variable="{{ desembolso.reserva.comprobantePago }}">
                  <span class="folderContainer">
                    <svg
                      class="fileBack"
                      width="146"
                      height="113"
                      viewBox="0 0 146 113"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0 4C0 1.79086 1.79086 0 4 0H50.3802C51.8285 0 53.2056 0.627965 54.1553 1.72142L64.3303 13.4371C65.2799 14.5306 66.657 15.1585 68.1053 15.1585H141.509C143.718 15.1585 145.509 16.9494 145.509 19.1585V109C145.509 111.209 143.718 113 141.509 113H3.99999C1.79085 113 0 111.209 0 109V4Z"
                        fill="url(#paint0_linear_117_4)"
                      ></path>
                      <defs>
                        <linearGradient
                          id="paint0_linear_117_4"
                          x1="0"
                          y1="0"
                          x2="72.93"
                          y2="95.4804"
                          gradientUnits="userSpaceOnUse"
                        >
                          <stop stop-color="#8F88C2"></stop>
                          <stop offset="1" stop-color="#5C52A2"></stop>
                        </linearGradient>
                      </defs>
                    </svg>
                    <svg
                      class="filePage"
                      width="88"
                      height="99"
                      viewBox="0 0 88 99"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="88" height="99" fill="url(#paint0_linear_117_6)"></rect>
                      <defs>
                        <linearGradient
                          id="paint0_linear_117_6"
                          x1="0"
                          y1="0"
                          x2="81"
                          y2="160.5"
                          gradientUnits="userSpaceOnUse"
                        >
                          <stop stop-color="white"></stop>
                          <stop offset="1" stop-color="#686868"></stop>
                        </linearGradient>
                      </defs>
                    </svg>
                
                    <svg
                      class="fileFront"
                      width="160"
                      height="79"
                      viewBox="0 0 160 79"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M0.29306 12.2478C0.133905 9.38186 2.41499 6.97059 5.28537 6.97059H30.419H58.1902C59.5751 6.97059 60.9288 6.55982 62.0802 5.79025L68.977 1.18034C70.1283 0.410771 71.482 0 72.8669 0H77H155.462C157.87 0 159.733 2.1129 159.43 4.50232L150.443 75.5023C150.19 77.5013 148.489 79 146.474 79H7.78403C5.66106 79 3.9079 77.3415 3.79019 75.2218L0.29306 12.2478Z"
                        fill="url(#paint0_linear_117_5)"
                      ></path>
                      <defs>
                        <linearGradient
                          id="paint0_linear_117_5"
                          x1="38.7619"
                          y1="8.71323"
                          x2="66.9106"
                          y2="82.8317"
                          gradientUnits="userSpaceOnUse"
                        >
                          <stop stop-color="#C3BBFF"></stop>
                          <stop offset="1" stop-color="#51469A"></stop>
                        </linearGradient>
                      </defs>
                    </svg>
                  </span>
                  <p class="text" style = "margin-top: 5px;" >Vista Previa</p>
                  </button>
                  </th>

                  <td> {{ desembolso.motivo }} </td>
                  <td> 
                    <input class="form-control form-control-sm" id="formFileSm" name='comprobante' type="file">
                  </td>
                  <td> 
                    <div class="checkbox-wrapper-12" style="margin-left: 40px; margin-right: 40px; margin-top: 10px; margin-bottom: 10px;">
                      <div class="cbx" >
                        <input id="cbx-12" type="checkbox" onchange="completarDesembolso(this, 1)">
                        <label for="cbx-12"></label>
                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none">
                          <path d="M2 8.36364L6.23077 12L13 2"></path>
                        </svg>
                      </div>
                    
                      <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                        <defs>
                          <filter id="goo-12">
                            <feGaussianBlur
                              in="SourceGraphic"
                              stdDeviation="4"
                              result="blur"
                            ></feGaussianBlur>
                            <feColorMatrix
                              in="blur"
                              mode="matrix"
                              values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7"
                              result="goo-12"
                            ></feColorMatrix>
                            <feBlend in="SourceGraphic" in2="goo-12"></feBlend>
                          </filter>
                        </defs>
                      </svg>
                    </div>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>

        <!-- Modal del comprobante-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Comprobante de Pago</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img id='imagenComprobante' src="" style="width: 80%;"> 
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>

    {% else %}
      <div class="modal" tabindex="-1" id="miModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Desembolsos</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="window.location.assign('/paseos/verPaseosAdmin')"></button>
            </div>
            <div class="modal-body">
              <p>No existen desembolsos pendientes por realizar.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="window.location.assign('/paseos/verPaseosAdmin')">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var myModal = new bootstrap.Modal(document.getElementById('miModal'));
        myModal.show();
        });
      </script>
    {% endif %}
    </div>
    <script src="/static/script.js"></script>
</body>
</html>