<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Registro de un paseo</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link href="{% static '/stylesApp.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}">  
</head>
<body>
    <!-- Barra de navegacion -->
    <header>
        {% include "navbarAdmin.html" %}
        <p class="fs-2 fw-bold text-center">Inicio de sesión</p>
        
    </header>

    <div id = "main" class = "container"> 
        <br>
        <div id="squareData" class="container col-12 col-md-5 position-absolute top-50 start-50 translate-middle">
            <div id="containerData" class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">    
                <section id="registerData">
                    <form class="row g-3 needs-validation" novalidate>
                        <div class="col-md-6">
                        <label for="validationCustom01" class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        <div class="valid-feedback">
                            Aceptable
                        </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustom02" class="form-label">No. de cédula</label>
                        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
                        <div class="valid-feedback">
                            Aceptable
                        </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustomUsername" class="form-label">Celular</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                            <div class="invalid-feedback">
                            Ingrese un No. de celular válido.
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustom03" class="form-label">Email</label>
                        <input type="text" class="form-control" id="validationCustom03" required>
                            <div class="invalid-feedback">
                                Ingrese un correo válido. 
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Rol</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Elegir...</option>
                            <option>...</option>
                        </select>
                            <div class="invalid-feedback">
                                Elegir un rol.
                            </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustom05" class="form-label">Fecha de nacimiento</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                            <div class="invalid-feedback">
                                Ingrese una fecha correcta.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="validationCustom06" class="form-label">Contraseña</label>
                            <input type="text" class="form-control" id="validationCustom06" required>
                                <div class="invalid-feedback">
                                    Ingrese una contraseña válida. 
                                </div>
                            </div>
                        <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                        </div>
                        <script>
                            (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
                        </script>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>