<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Crear Reserva</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <link href="{% static '/stylesApp.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}">  

</head>
<body>
    <header>
        {% include 'navbarCliente.html' %}
        <p class="fs-2 fw-bold text-center m-0">Reservas Activas</p>
    </header>
</body>