<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="icon" type="image/x-icon" href="{% static '/images/chiva.png' %}">  
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <title>Ver paseos</title>
</head>
<body>
    {% include "navbarAdmin.html" %}
    <p class="fs-2 fw-bold text-center">Paseos {{lista}}</p>
   
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
        
                    {% elif message.tags == 'warning' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        <div class="btn-group mt-2 mb-2">
            <button type="button" class="btn btn-secondary">Estado</button>
            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item {% if lista == 'activos' %}active{% endif %}" href="?lista=activos">Activos</a></li>
            <li><a class="dropdown-item {% if lista == 'antiguos' %}active{% endif %}" href="?lista=antiguos">Antiguos</a></li>
        </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for paseo in listaPaseos %}
                    <div class="col">
                        <a href="{% url 'paseoAdmin' paseo.id %}" style="text-decoration: none;">
                            <div class="card" style="max-width: 402px; max-height: 515px ;">
                                <div id="{{paseo.id}}" class="card-img-top" >
                                    <div id="carousel{{ paseo.id }}" class="carousel slide" style="display: none;">
                                        <div class="carousel-inner" id="inner{{paseo.id}}">
                                          
                                        </div>
                                        <button id="button1{{ paseo.id }}" class="carousel-control-prev" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="prev">
                                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button id="button2{{ paseo.id }}" class="carousel-control-next" type="button" data-bs-target="#carousel{{ paseo.id }}" data-bs-slide="next">
                                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                          <span class="visually-hidden">Next</span>
                                        </button>
                                      </div>


                                <script>
                                    document.addEventListener('DOMContentLoaded', (event) => {
                                        // Asumiendo que {{ img }} es una variable del contexto de Django que contiene el string base64
                                        var imgString = "{{ paseo.imagen }}";
                                        var imgParts = imgString.split('-');
                                        console.log(imgParts);
                                        console.log(imgString);
                                        // Ahora puedes hacer lo que necesites con imgParts, que es un array de los segmentos divididos
                                        // console.log(imgParts); // Solo para demostración, muestra los segmentos en la consola
                                        // console.log(imgString)
                                        // Ejemplo de cómo usar los segmentos\
                                        if(imgParts.length > 2){
                                            imgParts.forEach((part, index) => {
                                                if(part == '') return;
                                                document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                var divElement = document.createElement('div');
                                                if(index == 0){
                                                    divElement.className = 'carousel-item active';
                                                }else{
                                                    divElement.className = 'carousel-item';
                                                }


                                                var imgElement = document.createElement('img');
                                                imgElement.src = 'data:image/jpeg;base64,' + part;
                                                imgElement.style.width = '400px';
                                                imgElement.style.height = '300px';
                                                divElement.appendChild(imgElement);
                                                document.getElementById('inner{{paseo.id}}').appendChild(divElement);

                                            });
                                        }else{
                                            imgParts.forEach((part, index) => {
                                                if(part == '') return;
                                                document.getElementById('carousel{{ paseo.id }}').style.display = 'flex';
                                                var divElement = document.createElement('div');
                                                if(index == 0){
                                                    divElement.className = 'carousel-item active';
                                                }else{
                                                    divElement.className = 'carousel-item';
                                                }
                                                var imgElement = document.createElement('img');
                                                imgElement.src = 'data:image/jpeg;base64,' + part;
                                                imgElement.style.width = '400px';
                                                imgElement.style.height = '300px';
                                                divElement.appendChild(imgElement);
                                                document.getElementById('inner{{paseo.id}}').appendChild(divElement);
                                                document.getElementById('button1{{ paseo.id }}').style.display = 'none';
                                                document.getElementById('button2{{ paseo.id }}').style.display = 'none';
                                            });
                                        }



                                        

                                    });
                                </script>
                                </div>
                                    <!-- <img src="data:image/jpeg;base64,{ img }" class="card-img-top" alt="..." style="width: 100%; max-height: 230px;"> -->
                                <div class="card-body">
                                    <h5 class="card-title">De {{ paseo.origen}} a {{ paseo.destino }}</h5>
                                    <p class="card-text">Fecha: {{ paseo.fecha|date:"d b Y" }} {{ paseo.hora }}<br>
                                        Disponibilidad: {{ paseo.disponibilidad }}<br>
                                        {{paseo.descripcion|truncatechars:93 }}.</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %} 
            </div>
      </div>
</body>
</html>